html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Sofia Sans", sans-serif;
  font-size: 1.6rem;
}

input,
button,
textarea,
select {
  font-family: inherit;
  outline: none;
  border: none;
}

a {
  text-decoration: none;
}

.wrapper-inner {
  max-width: 1200px;
  height: 1000px;
  margin: 0 auto;
  padding: 60px 30px 60px 30px;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto 1fr 1fr 1fr 1fr;
  gap: 0 28px;
  grid-template-areas: "SIDEBAR HEADER HEADER HEADER HEADER" "SIDEBAR MAIN MAIN MAIN MAIN" "SIDEBAR MAIN MAIN MAIN MAIN" "SIDEBAR MAIN MAIN MAIN MAIN" "SIDEBAR MAIN MAIN MAIN MAIN";
}

.sidebar {
  grid-area: SIDEBAR;
  display: flex;
  flex-direction: column;
}
.sidebar .heading {
  margin-top: 60px;
  font-size: 3rem;
  font-weight: 800;
}
.sidebar .navbar {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  row-gap: 18px;
}
.sidebar .navbar .navbar-item {
  display: flex;
  align-items: center;
  column-gap: 18px;
  color: #000;
  padding: 8px;
  border-radius: 8px;
  transition: background 0.2s;
  font-weight: 500;
}
.sidebar .navbar .navbar-item:hover {
  background: #ebebeb;
}
.sidebar .help-center {
  position: sticky;
  bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 18px;
  background: #fff;
  margin-top: auto;
}
.sidebar .help-center span {
  color: #000;
  font-size: 1.6rem;
  line-height: 50px;
  display: inline-block;
}
.sidebar .help-center img {
  width: 50px;
  height: 50px;
}
.sidebar .help-center:hover {
  opacity: 0.9;
}

.header {
  grid-area: HEADER;
  display: flex;
  align-items: start;
  height: 128px;
}
.header .logo {
  display: none;
}
.header .header-wrapper {
  display: flex;
  width: 100%;
}
.header .header-wrapper .search-form {
  font-weight: 600;
  display: flex;
  align-items: center;
  column-gap: 18px;
  margin-right: auto;
}
.header .header-wrapper .search-form .search {
  font-size: 1.8rem;
  background: #fff;
}
.header .header-wrapper .search-form .search::placeholder {
  color: rgba(0, 0, 0, 0.2);
}
.header .header-wrapper .navbar {
  display: flex;
  column-gap: 46px;
  margin-right: 50px;
}
.header .header-wrapper .navbar .navbar-link {
  color: #000;
  font-weight: 700;
  padding: 8px 8px 8px 0;
  position: relative;
}
.header .header-wrapper .navbar .navbar-link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0px;
  height: 2.1px;
  background: #000;
  transition: width 0.3s;
}
.header .header-wrapper .navbar .navbar-link:hover::after, .header .header-wrapper .navbar .navbar-link.active::after {
  width: 100%;
}
.header .header-wrapper .navbar .action {
  display: flex;
  gap: 46px;
  align-items: center;
}

.main {
  grid-area: MAIN;
  display: grid;
  gap: 10px;
  grid-template-columns: repeat(4, 1fr);
  grid-auto-rows: 188px;
}
.main .wide {
  grid-column: span 2;
}
.main .tall {
  grid-row: span 2;
}
.main img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
  transition: transform 0.2s;
}
.main > div {
  overflow: hidden;
  border-radius: 16px;
  cursor: pointer;
}
.main > div:hover img {
  transform: scale(1.1);
}

/*# sourceMappingURL=styles.css.map */
