html {
    font-size: 10px;
    font-family: Asap;
}

.discover-container {
    width: 100%;
    height: auto;
    padding: 20px 106px;
}

.discover__heading {
    font-family: Asap;
    font-weight: 600;
}

.discover__address {
    width: 100%;
    margin-top: 20px;
    display: flex;
    column-gap: 15px;
}

.discover__address-item {
    width: 140px;
    height: auto;
    background: #ddd;
    padding: 8px 5px;
    border-radius: 66px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 5px;
}
.discover__address-item:hover {
    background: #ae7b37;
    color: #fff;
    cursor: pointer;
}

.discover__address-item h2 {
    font-family: Asap;
    font-weight: 500;
}

.discover__address-item p {
    font-size: 10px;
    font-style: italic;
    font-weight: 500;
    font-family: Asap;
}

.discover__content {
    width: 100%;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(3, 440px);
    border-radius: 3px;
    gap: 20px;
    overflow: hidden;
}
.content-item {
    width: 100%;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
}

.content-bg img {
    width: 100%;
    object-fit: cover;
    height: 300px;
}

.content-bg::before {
    content: "";
    width: 100%;
    height: 250px;
    position: absolute;
    border-radius: 8px;
    background-color: rgba(0, 0, 0, 0.212);
    z-index: 1;
}

.content-address {
    position: absolute;
    top: 30px;
    left: 20px;
    font-family: Asap;
    font-weight: 600;
    font-size: 24px;
    color: #fff;
    z-index: 2;
}

.content-item p {
    position: absolute;
    bottom: 30px;
    left: 20px;
    font-family: Asap;
    font-weight: 400;
    font-size: 18px;
    color: #fff;
    z-index: 2;
}

.content-item strong {
    font-weight: 600;
    font-size: 20px;
}
