/* Common */
* {
    box-sizing: border-box;
}

a,
h1,
h2,
h3,
h4,
h5,
h6,
p,
label,
button,
input {
    font-family: "Rajdhani", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
}

a {
    text-decoration: none;
}

input {
    font-family: inherit;
    background: white;
    font-weight: 700;
}

/* landing */
.landing {
    background-image: url(https://hoanganf8.github.io/htmlcss_project02/image/landing-background.jpg);
    background-size: cover;
    width: 100vw;
    height: 100vh;
    padding: 80px 0 100px;
    position: fixed;
}

.landing-decor {
    background: white
        url(https://hoanganf8.github.io/htmlcss_project02/image/dot-texture.png)
        repeat;
    width: 64%;
    height: 140%;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    right: -32%;
    pointer-events: none;
}

.landing-content {
    width: 584px;
    position: absolute;
    top: 16%;
    left: 13%;
    text-align: center;
    color: white;
}

.logo {
    /* display: block; */
    width: 60px;
}

.landing__title {
    font-family: "Titillium Web", sans-serif;
    font-size: 6.5rem;
    font-weight: 900;
    position: relative;
    margin-top: -10px;
    /* top: -10px; */
}

.landing__subtitle {
    display: block;
    width: 100%;
    margin-top: 36px;
    font-size: 1.5rem;
    font-weight: 500;
}

.landing__desc {
    width: 384px;
    margin: 30px auto 0;
    font-size: 1.125rem;
    line-height: 1.3333333333em;
    font-weight: 500;
}

.landing-action {
    margin-top: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 180px;
    height: 54px;
    border: 1px solid #fff;
    color: #fff;
    font-size: 1rem;
    font-weight: 700;
    line-height: 54px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

.login-btn {
    border-radius: 10px 0 0 10px;
}

.register-btn {
    border-radius: 0 10px 10px 0;
}

#login:checked ~ .landing-content .landing-action .login-btn,
#register:checked ~ .landing-content .landing-action .register-btn {
    color: #3e3f5e;
    background-color: #fff;
    cursor: auto;
}

.landing-form {
    width: 484px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 13%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.form {
    width: 484px;
    padding: 64px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(94, 92, 154, 0.12);
}

.landing-form__login,
.landing-form__register {
    transform: translate(0px, 0px);
    opacity: 1;
    visibility: visible;
    z-index: 2;
    position: absolute;
    left: 0px;
    transition: all 0.6s ease-in-out 0s;
    text-align: center;
}

form {
    margin-top: 76px;
}

.form__img {
    position: absolute;
    top: -68px;
    left: -80px;
}

.form__title {
    font-size: 1.625rem;
}

.form__input {
    width: 100%;
    height: 54px;
    padding: 0 18px;
    border-radius: 12px;
    border: 1px solid #dedeea;
    font-weight: 700;
    font-size: 1rem;
    color: #3e3f5e;
    transition: border-color 0.2s ease-in-out;
    position: relative;
    outline: none;
}

.form__input:focus {
    border-color: #615dfa;
}

.form-row {
    position: relative;
}
.form-row input {
    font-weight: 700;
}

.form__input:not(:placeholder-shown) {
    background: white;
}

.form-row + .form-row {
    margin-top: 28px;
}

.form-row label {
    position: absolute;
    display: inline-block;
    font-size: 1rem;
    color: gray;
    text-wrap: nowrap;
    background: white;
    top: 50%;
    left: 18px;
    translate: 0 -50%;
    transition: all 0.3s ease-in-out;
}

.form__input:focus + label,
.form__input:not(:placeholder-shown) + label {
    font-size: 0.7rem;
    top: 0px;
    padding: 0 6px;
}

.form-action {
    margin-top: 28px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}

.remember,
.send-news {
    margin-left: 35px;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 22px;
    cursor: pointer;
}

#remember:checked ~ .remember::after,
#send-news:checked ~ .send-news::after {
    background: #23d2e2;
}

.remember::after,
.send-news::after {
    position: absolute;
    content: "";
    width: 22px;
    height: 22px;
    border: 1px solid #dedeea;
    border-radius: 6px;
    top: 0;
    left: 0;
    transition: 0.2s ease-in-out;
}

.remember::before,
.send-news::before {
    z-index: 1;
    position: absolute;
    content: url(../icon/x.svg);
    top: 4px;
    left: 6px;
}

.form__link {
    color: #adafca;
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 22px;
}

.form__link:hover {
    color: #23d2e2;
}

.form__btn {
    width: 100%;
    margin-top: 28px;
    border-radius: 10px;
    background-color: #615dfa;
    box-shadow: 4px 7px 12px 0 rgba(97, 93, 250, 0.2);
    transition: 0.2s ease-in-out;
    font-size: 14px;
}

.form__btn:hover {
    background-image: linear-gradient(rgb(0 0 0/10%) 0 0);
}

.form-login__social {
    margin-top: 40px;
    font-size: 0.875rem;
    font-weight: 700;
    position: relative;
}

.form-login__social::before,
.form-login__social::after {
    display: inline-block;
    content: "";
    width: 70px;
    height: 1px;
    background-color: #eaeaf5;
    position: absolute;
    top: 7px;
}

.form-login__social::before {
    left: 0;
}

.form-login__social::after {
    right: 0;
}

.social-links {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 12px;
}

.link {
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    transition: 0.2s;
}

.link:hover {
    translate: 0 -3px;
}

.facebook {
    background: #3763d2;
}

.twitter {
    background: #1abcff;
}

.twitch {
    background: #7b5dfa;
}

.youtube {
    background: #fd434f;
}

.landing-form__register .form__img {
    top: -14px;
    left: -80px;
}

.send-news {
    margin-right: auto;
}

.form-register__btn {
    background: #23d2e2;
    font-size: 14px;
}
.lined-text {
    margin-top: 30px;
    font-size: 0.875rem;
    line-height: 1.7142857143em;
    font-weight: 500;
}
.contact-us {
    color: #21D2E2;
    font-weight: 600;
}
#register:checked ~ .landing-form .landing-form__login,
#login:checked ~ .landing-form .landing-form__register {
    transform: translate(50%, 0px);
    opacity: 0;
    visibility: hidden;
    z-index: 1;
    position: absolute;
    left: 0px;
    transition: all 0.6s ease-in-out 0s;
}

@media screen and (max-width: 1200px) {
    .landing {
        max-width: 100%;
        max-height: 100%;
        overflow: hidden auto;
    }

    .landing-content,
    .landing-form,
    .landing-form__register,
    .landing-form__login {
        position: static;
        margin: 0 auto;
    }

    .landing-form {
        margin-top: 80px;
        display: block;
    }

    .landing-decor {
        display: none;
    }

    #register:checked ~ .landing-form .landing-form__login,
    #login:checked ~ .landing-form .landing-form__register {
        transform: translate(0px, 0px);
        opacity: 1;
        display: none;
        left: auto;
        transition: none;
    }
}
