@import "reset";
@import "mixins";
@import "variable";

// Common

html {
    font-size: 62.5%;
}

body {
    font-family: "Sofia Sans", sans-serif;
    font-size: 1.6rem;
}

input,
button,
textarea,
select {
    font-family: inherit;
    outline: none;
    border: none;
}

a {
    text-decoration: none;
}

.wrapper-inner {
    max-width: 1200px;
    margin: 0 auto;
    padding: 60px 30px 60px 30px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: auto 1fr 1fr 1fr 1fr;
    gap: 0 28px;
    grid-template-areas:
        "SIDEBAR HEADER HEADER HEADER HEADER"
        "SIDEBAR MAIN MAIN MAIN MAIN"
        "SIDEBAR MAIN MAIN MAIN MAIN"
        "SIDEBAR MAIN MAIN MAIN MAIN"
        "SIDEBAR MAIN MAIN MAIN MAIN";
}

// BEGIN: SIDEBAR
.sidebar {
    grid-area: SIDEBAR;
    display: flex;
    flex-direction: column;

    .heading {
        margin-top: 60px;
        font-size: 3rem;
        font-weight: 800;
    }

    .navbar {
        margin-top: 40px;
        display: flex;
        flex-direction: column;
        row-gap: 18px;

        .navbar-item {
            display: flex;
            align-items: center;
            column-gap: 18px;
            color: $primary-color;
            padding: 8px;
            border-radius: 8px;
            transition: background 0.2s;
            font-weight: 500;
            &:hover {
                background: #ebebeb;
            }
        }
    }

    .help-center {
        position: sticky;
        bottom: 20px;
        display: flex;
        align-items: center;
        column-gap: 18px;
        background: #fff;
        margin-top: auto;
        span {
            color: $primary-color;
            font-size: 1.6rem;
            line-height: 50px;
            display: inline-block;
        }

        img {
            width: 50px;
            height: 50px;
        }
        &:hover {
            opacity: 0.9;
        }
    }
}

// END: SIDEBAR

// BEGIN: HEADER
.header {
    grid-area: HEADER;
    display: flex;
    align-items: start;
    height: 128px;
    .open-btn,
    .close-btn {
        display: none;
    }

    .logo {
        display: none;
    }

    .header-wrapper {
        display: flex;
        width: 100%;

        .search-form {
            font-weight: 600;
            display: flex;
            align-items: center;
            column-gap: 18px;
            margin-right: auto;

            .search {
                font-size: 1.8rem;
                background: #fff;
                &::placeholder {
                    color: rgba($color: #000000, $alpha: 0.2);
                }
            }
        }

        .navbar {
            display: flex;
            column-gap: 46px;
            margin-right: 50px;
            .navbar-link {
                color: $primary-color;
                font-weight: 700;
                padding: 8px 8px 8px 0;
                position: relative;

                &::after {
                    content: "";
                    position: absolute;
                    bottom: 0;
                    left: 0;
                    width: 0px;
                    height: 2.1px;
                    background: $primary-color;
                    transition: width 0.3s;
                }
                &:hover::after,
                &.active::after {
                    width: 100%;
                }
            }

            .action {
                display: flex;
                gap: 46px;
                align-items: center;
            }
        }
    }
}

// END: HEADER

// BEGIN: MAIN
.main {
    grid-area: MAIN;
    display: grid;
    gap: 10px;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 188px;

    .wide {
        grid-column: span 2;
    }

    .tall {
        grid-row: span 2;
    }
    img {
        width: 100%;
        height: 100%;
        border-radius: 16px;
        transition: transform 0.2s;
    }
    > div {
        overflow: hidden;
        border-radius: 16px;
        cursor: pointer;
    }

    > div:hover img {
        transform: scale(1.1);
    }
}

// END: MAIN

// responsive

@include responsive(1050px) {
    .wrapper-inner {
        overflow: hidden;
        position: relative;
        grid-template-columns: auto auto 1fr 1fr 1fr ;
        gap: 60px 0;
        grid-template-areas:
            "HEADER HEADER HEADER HEADER HEADER"
            "SIDEBAR SIDEBAR SIDEBAR SIDEBAR SIDEBAR"
            "MAIN MAIN MAIN MAIN MAIN"
            "MAIN MAIN MAIN MAIN MAIN"
            "MAIN MAIN MAIN MAIN MAIN"
            "MAIN MAIN MAIN MAIN MAIN";

        .header {
            justify-content: space-between;
            .logo {
                display: block;
                img {
                    width: 100%;
                    object-fit: cover;
                }
            }
            .search {
                width: 100%;
                padding: 10px;
            }
            .open-btn {
                display: block;
                background-color: transparent;
                font-size: 2.8rem;
            }
            .header-wrapper {
                width: 30vw;
                height: 100%;
                row-gap: 30px;
                padding: 100px 40px 0 40px;
                background: #f4de4d;
                flex-direction: column;
                position: absolute;
                z-index: 2;
                top: 0;
                right: 0;
                transform: translateX(100%);
                transition: all 0.2s;
                .close-btn {
                    position: absolute;
                    top: 40px;
                    right: 30px;
                    width: 40px;
                    height: 40px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    border-radius: 50%;
                    cursor: pointer;
                    i {
                        font-size: 1.8rem;
                    }
                }
            }
            input:checked ~ .header-wrapper {
                transform: translateX(0);
            }
            .navbar {
                flex-direction: column;
                row-gap: 30px;
            }
            .action {
                margin: 0;
                justify-content: space-between;
            }
            .overlay {
                transform: translateX(-100%);
                left: 0;
                top: 0;
                position: absolute;
                padding: 100px 40px 0 40px;
                width: 100%;
                height: 100%;
                background: #000;
                opacity: 0.4;
                z-index: 1;
                transition: 0.2s;
            }
            input:checked ~ .overlay {
                transform: translateX(0);
            }
        }
        .sidebar {
            padding: 0;
            .heading {
                margin-top: 0;
            }
            .navbar {
                margin-top: 40px;
                flex-direction: row;
                width: 100%;
                flex-wrap: wrap;
                justify-content: center;
            }
            .logo {
                display: none;
            }
            .help-center {
                display: none;
            }
        }
    }
}

@include responsive(750px) {
    .header {
        .header-wrapper {
            width: 50vw;
        }
    }
    .sidebar{
        display: inline-block;
    }
    .main {
        grid-template-columns: 1fr 1fr;
        grid-auto-rows: auto;
       
    }
}
