/* Common */
* {
    box-sizing: border-box;
}

:root {
    --primary-color: #f55253;
    --text-color: #676767;
    --heading-color: #2e2e2e;
}
html {
    font-size: 62.5%;
}
body {
    font-size: 1.6rem;
    font-family: "Poppins", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Poppins", sans-serif;
}

input,
textarea,
select,
button {
    font-size: inherit;
    font-family: inherit;
    display: block;
}
.btn {
    background: #f86061;
    border-radius: 12px;
    min-width: 186px;
    font-weight: 500;
    font-size: 2rem;
    line-height: 1;
    text-align: center;
    color: #fffafa;
    display: inline-block;
    border: 1px solid transparent;
    transition: 0.3s ease;
    transition-property: color, background;
}
.btn:hover {
    border: 1px solid #f86061;
    color: #f86061;
    background: #fffafa;
}
button:hover {
    opacity: 0.9;
}

a {
    text-decoration: none;
}
.row {
    display: flex;
}

.col-4 {
    flex: 0 0 auto;
    width: 33.3333333333%;
}
.col-5 {
    flex: 0 0 auto;
    width: 41.6666666667%;
}

.col-6 {
    flex: 0 0 auto;
    width: 50%;
}

.col-7 {
    flex: 0 0 auto;
    width: 58.3333333333%;
}

.col-8 {
    flex: 0 0 auto;
    width: 66.6666666667%;
}

.container {
    width: 1326px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}
span {
    display: inline-block;
}

/* header */

.header {
    padding: 50px 0;
}

.header__inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar {
}

.navbar .navbar__list {
    display: flex;
    gap: 36px;
}

.navbar__item a {
    color: #4d4d4d;
    font-size: 1.4rem;
    font-weight: 500;
}

.navbar__item a:hover,
.navbar__item--active a {
    color: var(--primary-color);
}

.header__action {
    width: 284px;
    padding: 15px 20px;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px;
    display: flex;
    justify-content: space-between;
    border-radius: 5px;
}

.search {
    display: flex;
    gap: 15px;
    position: relative;
}
.header__icon-search {
    color: #676767;
}
.search::after {
    content: "2";
    position: absolute;
    top: -26px;
    right: -190px;
    background: var(--primary-color);
    box-shadow: -6px 9px 24px -6px rgba(238, 67, 67, 0.68);
    color: #fff;
    font-weight: 600;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    font-size: 1.4rem;
    line-height: 1.4;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__icon-cart {
    position: relative;
    cursor: pointer;
}
.header__icon-cart::before {
    position: absolute;
    content: "";
    background: #f2f2f2;
    height: 27px;
    width: 2px;
    left: -16px;
    top: -4px;
}

/* Hero */
.hero {
    padding: 40px 0;
}
.hero__inner {
    display: flex;
}
.hero__left {
    width: 50%;
}
.hero__more {
    display: flex;
    background: #fdecec;
    border-radius: 99px;
    padding: 12px 20px;
    width: fit-content;
    gap: 10px;
}

.hero__more-desc {
    font-weight: 500;
    font-size: 1.6rem;
    line-height: 1.6;
    color: var(--primary-color);
}

.hero__heading {
    margin-top: 36px;
    font-size: 7.8rem;
    font-weight: 700;
    line-height: 88px;
    min-width: 456px;
}
.hero__heading span {
    color: var(--primary-color);
    font-weight: 500;
}
.hero__desc {
    margin-top: 46px;
    font-size: 1.6rem;
    color: var(--text-color);
    width: 456px;
    line-height: 30px;
}

.hero__action {
    margin-top: 46px;
    display: flex;
    gap: 40px;
    align-items: center;
}

.hero__ordernow-btn {
    background: var(--primary-color);
    padding: 25px 36px;
    color: #fff;
    border-radius: 12px;
    line-height: 20px;
    font-weight: 500;
    transition: all 0.3s;
}
.hero__ordernow-btn:hover {
    background: #fff;
    outline: 1px solid var(--primary-color);
    color: var(--primary-color);
}
.hero__order-process {
    display: flex;
    gap: 5px;
}
.hero__order-process img {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px,
        rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
    border-radius: 50%;
    cursor: pointer;
}
.hero__order-btn {
    padding: 25px 20px;
    border: none;
    background: #fff;
    color: #000;
    font-weight: 500;
    cursor: pointer;
}

.hero__right {
    width: 50%;
}

.hero__img img {
    width: 100%;
    object-fit: cover;
}

/* Serve */
.serve {
    background: #fef5f5;
    padding: 100px 0;
}

.serve .sub-title {
    text-align: center;
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 1.3;
    letter-spacing: 0.01em;
    color: #f54748;
    margin: 0 0 8px 0;
}

.serve .title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.35;
    text-align: center;
}

.serve .list-service {
    margin: 60px auto 20px auto;
    width: 83.3333333333%;
    justify-content: space-between;
}

.serve .wrap-service {
    width: 30%;
    position: relative;
}

.serve .service-bg {
    position: absolute;
    background: #fe6a6a;
    border-radius: 12px;
    width: 90%;
    height: 100%;
    left: 33px;
    top: 0;
    transition: 0.2s ease;
    transition-property: transform left;
}

.serve .service {
    text-align: center;
    background: #fff;
    padding: 40px 26px;
    border-radius: 12px;
    position: relative;
    z-index: 1;
}

.service:hover + .service-bg {
    transform: rotate(-3deg);
    left: 40px;
}
.serve .service img {
    height: 60px;
}

.service .title {
    font-weight: 600;
    font-size: 2.2rem;
    line-height: 1.5;
    letter-spacing: -0.01em;
    color: #2e2e2e;
    margin: 60px 0 20px;
}

.service .desc {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.8;
    color: #676767;
}
/* Feature */

.list-feature {
    padding: 50px 0;
    background: #ffffff;
}

.feature {
    align-items: center;
}

.feature + .feature {
    margin-top: 100px;
}

.feature-image img {
    width: 100%;
}

.feature .sub-title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    text-transform: uppercase;
    margin: 0 0 8px 0;
}

.feature:first-child .sub-title {
    color: #03a66b;
}

.feature:last-child .sub-title {
    color: #f9ba45;
}

.feature .title {
    font-size: 3.2rem;
    line-height: 1.4;
    font-weight: 700;
    color: #2e2e2e;
    text-transform: capitalize;
    margin: 0 0 22px 0;
    width: 90%;
}
.feature .desc {
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 30px;
    line-height: 1.875;
    color: #676767;
}

.feature-btn {
    padding: 18px 20px;
    font-size: 1.6rem;
    margin: 50px 0 20px;
}

/* =============== Dowload ================ */

.dowload {
    background: #fef5f5;
    padding: 100px 0;
}

.dowload-inner {
    align-items: center;
}

.dowload-image {
    text-align: center;
}

.dowload .sub-title {
    font-size: 1.6rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.01em;
    color: #f54748;
    margin: 0 0 8px 0;
}

.dowload .title {
    font-weight: 700;
    font-size: 3.2rem;
    line-height: 1.375;
    color: #2e2e2e;
    margin: 0 0 22px 0;
    max-width: 80%;
}

.dowload .desc {
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.7;
    max-width: 90%;
    color: #676767;
}

.cta-btn {
    display: flex;
    margin-top: 60px;
}

.btn-app {
    align-items: center;
    font-size: 1.6rem;
    padding: 12px 2px;
    justify-content: space-evenly;
    min-width: 200px;
    border: 1px solid #eedcdc;
    border-radius: 12px;
    line-height: 1.25;
    color: #2e2e2e;
    font-weight: 500;
}
.btn-app + .btn-app {
    margin-left: 60px;
}
/* Footer */

.footer {
    padding-top: 50px;
}

.footer-inner {
    align-items: flex-start;
    padding: 30px 0 50px 0;
    border-bottom: 1px solid #dddbdb;
}

.content-logo {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.625;
    color: #676767;
    max-width: 75%;
    margin: 25px 0 10px 0;
}

.footer-content {
    padding: 10px;
}
.footer-content h4 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.1;
    letter-spacing: -0.01em;
    color: #2e2e2e;
    margin-bottom: 30px;
}

.company-info a,
.service-info a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 2.5;
    color: #676767;
}

.company-info a:hover,
.service-info a:hover {
    color: #000;
}

.contact p {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.625;
    color: #888888;
}

.footer-copyright {
    padding: 35px 0;
}

.copyright-content p {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #8c8c8c;
}

.copyright-links {
    display: flex;
    justify-content: flex-end;
}

.copyright-links a {
    margin-left: 20px;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 1.7;
    color: #747474;
    margin: 0 10px;
    display: block;
}
.copyright-links a:hover {
    color: #000;
}
